.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selamat-datang{
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    /* font-size: 56px; */
    line-height: 120%;
    /* or 67px */
  
    letter-spacing: -0.03em;
  
    color: #1D334F;
}

.silahkan-melanjutkan{
  
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    /* font-size: 28px; */
    line-height: 130%;
    /* or 36px */
  
  
    /* #Simple */
  
    color: #597393;
}

.shadow-box{
  box-shadow: 0px 16px 24px rgba(190, 190, 190, 0.16);
    border-radius: 8px;
}

.font-gilroy{
  font-family: 'Gilroy';
    font-style: normal;
}
.font-color-label{
  color: #002060;
}